{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    Корзина
{% endblock %}
{% block titlePage %}
    <h1>Ваша корзина</h1>
  {% endblock %}

{% block content %}

<div class="container">
 <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Товар</th>
            <th>Кол-во</th>
            <th>Удалить</th>
            <th>Цена за еденицу</th>
            <th>Общая цена</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>
                        <a href="{{ product.get_absolute_url }}">
                            <img src="
                                {% if product.image %}
                                    {{ product.image.url }}
                                {% else %}
                                    {% static "img/no_image.png" %}
                                {% endif %}" width="200px" height="200px">
                        </a>
                    </td>
                    <td>{{ product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td><a href="{% url "cart:cart_remove" product.id%}">Удалить</a></td>
                    <td class="num">${{ item.price }}</td>
                    <td class="num">${{ item.total_price }}</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Общая цена</td>
            <td colspan="4"></td>
            <td class="num">${{ cart.get_total_price }}</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url "shop:product_list" %}" class="btn btn-light">Продолжить покупки</a>
        <a href="{% url "orders:order_create" %}" class="btn btn-light">
        Оплатить
        </a>
    </p>

</div>

{% endblock %}

