{% extends "shop/base.html" %}

{% block title %}Checkout{% endblock %}

{% block content %}

<div class="container">

<table class="table">
  <thead>
    <tr>
      <th scope="col">Кол-во</th>
      <th scope="col">Название</th>
      <th scope="col">Цена</th>
    </tr>
  </thead>
  <tbody>
  {% for item in cart %}
    <tr>
      <td>{{ item.quantity }}</td>
      <td>{{ item.product.name }}</td>
      <td>${{ item.total_price }}</td>
    </tr>
  {% endfor %}
  <tr>
      <td>-</td>
      <td>-</td>
      <td>Total: ${{ cart.get_total_price }}</td>
    </tr>
  </tbody>
</table>
</div>

    <div class="container">
        <form action="." method="post" class="order-form">
        {{ form.as_p }}
        <p><input type="submit" value="Place order"></p>
        {% csrf_token %}
    </form></div>


{% endblock %}

